@model CharacterMaker.Models.RacesModel

@{
    ViewBag.Title = "Race";
}

<h2>Race</h2>

<div>
    <h4>RacesModel</h4>
    <hr />
    @foreach (var i in Model.Races)
    {
        <dl class="dl-horizontal">
            @i.Name
        </dl>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
