body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#RollTable {
    min-width: 100%;
    border-collapse: collapse;
    font-weight: bold;
    font-size: 3.25vh;
}

#RollTable th{
    border-bottom: 0.25vw ridge DarkGrey;
}

#RollTable s {
    font-weight: 100;
    font-size: 2.25vh;
}

#RollTable td:nth-child(1), #RollTable td:nth-child(3) {
    width: 20vw;
    text-align: center;
    word-spacing: 2vw;
}

#RollTable td:nth-child(2) {
    width: 60vw;
    display:flex;
    justify-content:space-around;
    word-spacing: 2vw;
    border-right: 0.25vw ridge DarkGrey;
    border-left: 0.25vw ridge DarkGrey;
}

#RollTable th:nth-child(2) {
    border-right: 0.25vw ridge DarkGrey;
    border-left: 0.25vw ridge DarkGrey;
}

.JustifyAround {
    display: flex;
    justify-content: space-around;
}

.JustifyAroundColumn {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.tableA {
    width: 100%;
}

.tableA img {
    max-width: 20vw;
    max-height: 50vh;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    right: 0;
    top: 0;
}

.tableA tr > td {
    text-align: center;
    border-top: none;
}

.ui-widget-header {
    border: 1px solid saddlebrown;
    background: darkkhaki;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #dad55e;
    background: #fffa90;
    color: #777620;
}

.field-validation-error {
   color: #C1372A !important;
   display: block;
   font-weight: normal !important;
}

.bootstrap-select {
    margin-bottom: 2vh;
}

.green.choice {
    color: green;
    border: 1px solid Khaki;
    border-radius: 3vh;
    line-height: 5vh;
    background: darkkhaki;
    width:100%;
    height: 5vh;
}
.green.choice > input[type='radio'] {
    display: none;
}

label[class='choice'] {
    border: 1px solid Khaki;
    border-radius: 3vh;
    line-height: 5vh;
    background: darkkhaki;
    color: black;
    width:100%;
    height: 5vh;
}
label[class='choice'] > input[type='radio'] {
    display: none;
}

label[class='active-choice'] {
    border: 1px solid darkkhaki;
    border-radius: 3vh;
    line-height: 5vh;
    background: khaki;
    color: black;
    width:100%;
    height: 5vh;
}
label[class='active-choice'] > input[type='radio'] {
    display: none;
}